
// DANGER ZONE: the following varaibles are referenced by js
// [--
@widgetBoxHPadding: 6px;
@widgetBoxVPadding: 5.5px;
@resizeHandlePadding: 2px;

@dotWidth: 2px;
// --]

@widgetBoxSelectedZIndex: 5;
@widgetBoxHoverZIndex: @widgetBoxSelectedZIndex+1;

.root {
  padding: 15px;
  height: 100%;
  overflow: auto;

  .container {
    min-width: 800px;
    max-width: 1560px;
    height: 100%;

    .canvas {
      margin: 12.5px;
      position: relative;

      .widgetBox {
        position: absolute;
        will-change: transform;
        transition-property: height,width,transform;
        transition-duration: .1s;
        padding: @widgetBoxVPadding @widgetBoxHPadding;

        & > :global(.ant-tag) {
          transform: translate(-1px, -23px);
          position: absolute;
          border-radius: 1px;
          opacity: 0;
          cursor: pointer;
          display: flex;
          padding: 1px 3px;
          justify-content: center;
          align-items: center;
          font-family: 'Courier New', Courier, monospace;
        }

        &:hover {
          z-index: @widgetBoxHoverZIndex;
          & > :global(.ant-tag) {
            background-color: hsla(0, 100%, 97%, .8);
            color: #d73435;
            opacity: 1;
          }
        }

        // focus 状态下默认（Chrome）显示蓝色 outline，禁掉
        &:focus {
          outline: none;
        }

        &.selected {
          outline: none;
          z-index: @widgetBoxSelectedZIndex;
          background-color: rgba(240, 240, 255, .3);
          & > :global(.ant-tag) {
            background-color: rgba(240, 240, 255, .8);
            color: #0e77ca;
            opacity: 1;
          }
        }

        &.dragging {
          // 使用 visibility: hidden 时，拖拽 table 时，table 中的内容隐藏存在明显延迟
          // visibility: hidden;
          display: none;
        }

        &.bordered {
          border: 1px dashed rgba(150, 0, 0, .15);
          padding: calc(@widgetBoxVPadding - 1px) calc(@widgetBoxHPadding - 1px);
        }

        &:hover > .resizeHandle {
          opacity: 1;
        }

        .resizeHandle {
          position: absolute;
          top: 0;
          left: 0;
          z-index: 100;
          height: 20px;
          width: 20px;
          padding: @resizeHandlePadding;
          opacity: 0;

          & .resizeLeftTop {
            cursor: nwse-resize;
          }
          & .resizeRightTop {
            cursor: nesw-resize;
          }
          & .resizeRightBottom {
            cursor: nwse-resize;
          }
          & .resizeLeftBottom {
            cursor: nesw-resize;
          }

          .resizeLeftTop .resizeIcon {
            transform: rotate(180deg);
          }
          .resizeRightTop .resizeIcon {
            transform: rotate(270deg);
          }
          .resizeRightBottom .resizeIcon {
          }
          .resizeLeftBottom .resizeIcon {
            transform: rotate(90deg);
          }

          .resizeIcon {
            height: @widgetBoxHPadding;
            width: @widgetBoxHPadding;
            background: url("data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBzdGFuZGFsb25lPSJubyI/Pg08IS0tIEdlbmVyYXRvcjogQWRvYmUgRmlyZXdvcmtzIENTNiwgRXhwb3J0IFNWRyBFeHRlbnNpb24gYnkgQWFyb24gQmVhbGwgKGh0dHA6Ly9maXJld29ya3MuYWJlYWxsLmNvbSkgLiBWZXJzaW9uOiAwLjYuMSAgLS0+DTwhRE9DVFlQRSBzdmcgUFVCTElDICItLy9XM0MvL0RURCBTVkcgMS4xLy9FTiIgImh0dHA6Ly93d3cudzMub3JnL0dyYXBoaWNzL1NWRy8xLjEvRFREL3N2ZzExLmR0ZCI+DTxzdmcgaWQ9IlVudGl0bGVkLVBhZ2UlMjAxIiB2aWV3Qm94PSIwIDAgNiA2IiBzdHlsZT0iYmFja2dyb3VuZC1jb2xvcjojZmZmZmZmMDAiIHZlcnNpb249IjEuMSINCXhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiIHhtbDpzcGFjZT0icHJlc2VydmUiDQl4PSIwcHgiIHk9IjBweCIgd2lkdGg9IjZweCIgaGVpZ2h0PSI2cHgiDT4NCTxnIG9wYWNpdHk9IjAuMzAyIj4NCQk8cGF0aCBkPSJNIDYgNiBMIDAgNiBMIDAgNC4yIEwgNCA0LjIgTCA0LjIgNC4yIEwgNC4yIDAgTCA2IDAgTCA2IDYgTCA2IDYgWiIgZmlsbD0iIzAwMDAwMCIvPg0JPC9nPg08L3N2Zz4=");
            background-repeat: no-repeat;
            background-origin: content-box;
          }
        }
      }

      .hoverWidgetBox {
        .widgetBox();
        background-color: rgba(63, 191, 63, 0.2);
        z-index: 10;
      }

      .hoverWidgetBoxCanNotPlace {
        .hoverWidgetBox();
        background-color: rgba(255, 0, 0, 0.2);
      }

      .grid {
        position: relative;
        .column {
          position: absolute;
          top: -1px;
          width: @dotWidth;
          // BETTER(style) TODO(ruitao.xu): figure out the meaning of the following background-*
          background-image: repeating-linear-gradient(
            0deg,
            rgba(0, 0, 0, 0.25),
            rgba(0, 0, 0, 0.25) 2px,
            rgba(0, 0, 0, 0) 0,
            rgba(0, 0, 0, 0) 40px,
          );
          background-position-y: 2px;
          background-size: 100% 40px;

          min-height: 100%;
        }
      }
    }
  }

}

.lift {
  box-shadow: 
    0 0 0 0 rgba(0, 0, 0, 0.5),
    0 1px 3px 0 rgba(0, 0, 0, 0.25);
}