
.root {
  padding: 15px;
  height: 100%;
  overflow: auto;

  .container {
    min-width: 800px;
    max-width: 1560px;
    height: 100%;

    .canvas {
      margin: 12.5px;
      height: 450px;
      position: relative;

      .widgetBox {
        position: absolute;
        will-change: transform;
        transition-property: height,width,transform;
        transition-duration: .1s;
        padding: 5.5px 6px;
        background-color: rgba(100, 196, 68, 0.6);
      }

      .hoverWidgetBox {
        .widgetBox();
        background-color: rgba(63, 191, 63, 0.2);
        z-index: 10;
      }

      .hoverWidgetBoxCanNotPlace {
        .hoverWidgetBox();
        background-color: rgba(255, 0, 0, 0.2);
      }

      .grid {
        position: relative;
        .column {
          position: absolute;
          top: -1px;
          width: 2px;
          // TODO(ruitao.xu): figure out the meaning of the following background-*
          background-image: repeating-linear-gradient(
            0deg,
            rgba(0, 0, 0, 0.25),
            rgba(0, 0, 0, 0.25) 2px,
            rgba(0, 0, 0, 0) 0,
            rgba(0, 0, 0, 0) 40px,
          );
          background-position-y: 2px;
          background-size: 100% 40px;

          min-height: 100%;
        }
      }
    }
  }

}

.lift {
  box-shadow: 
    0 0 0 0 rgba(0, 0, 0, 0.5),
    0 1px 3px 0 rgba(0, 0, 0, 0.25);
}