@import './widget_global.less';
@import '~antd/es/style/themes/default.less';

.widgetTable {
  .widget();

  // 超长内容下，表格样式修复
  // 问题一：th 与 td 不对齐
  :global(.ant-table) {
    & table tr {
      display: flex;

      & th, & td {
        // flex 与 width 同值，可以达到 resize 的效果
        // 如: flex: 100 0 auto; width: 100px;
        // width: 0; 相当于全部听从 flex 的 layout
        flex: 1 0 auto;
        width: 0;

        word-break: break-word;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
      }
    }
  }
}

// <Collapse> 里嵌套 <Collapse> 的格式修复，其他地方也可能会用到
.override {
  :global(.ant-collapse) {
    margin-left: -@collapse-content-padding;
    margin-bottom: -@collapse-content-padding;
    width: calc(100% + 2 * @collapse-content-padding);
    border-left: 0;
    border-right: 0;
  }
  :global(.ant-collapse) > :global(.ant-collapse-item):last-child {
    border-bottom: 0;
  }
  :global(.ant-collapse) > :global(.ant-collapse-item) > :global(.ant-collapse-header) {
    padding: 6px 16px;
  }
}
