@import './widget_global.less';

.widgetText {
  .widget();
  display: flex;
  align-items: center; // vertically
}

.scroll {
  overflow: auto;
  align-items: flex-start;
}

.hover:hover {
  overflow: visible;
}
