
.container {
  display: flex;
  flex-direction: column;

  margin: 64px 50px 0px;

  .appList {

    .appRow {
      display: flex;
    }

    .appColumn {
      font-size: 16px;
      padding: 32px;
      flex: 1;
    }
  }

  .appListOperationZone {
    margin-top: 16px;
    display: flex;
    justify-content: flex-end;
  }
}