@tailwind base;

body {
  @apply antialiased;
}

/*
NEEDHELP(ruitao.xu): 为了实现 icon 与文字在垂直方向的对齐，为什么这里要设置 vertialAlign 为 0，
  而 antd 的[官方文档](https://ant.design/components/menu-cn/)中的 demo 无需设置？
*/
.anticon {
  display: inline-block;
  color: inherit;
  font-style: normal;
  line-height: 0;
  text-align: center;
  text-transform: none;
  /* vertical-align: -0.125em; */
  vertical-align: 0;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@tailwind components;

@tailwind utilities;

@responsive {
  .grid-columns-1 {
    display: grid;
    grid-template-areas: ".";
  }
  .grid-columns-1-2 {
    display: grid;
    grid-template-areas: ". .";
    grid-template-columns: 1fr 2fr;
  }
  .grid-columns-2-1 {
    display: grid;
    grid-template-areas: ". .";
    grid-template-columns: 2fr 1fr;
  }
  .grid-row-1 {
    grid-row: 1;
  }
  .grid-row-2 {
    grid-row: 2;
  }
  .grid-column-1 {
    grid-column: 1;
  }
  .grid-column-2 {
    grid-column: 2;
  }

  .grid-column-gap-20 {
    grid-column-gap: 5rem;
  }
  .grid-row-gap-20 {
    grid-row-gap: 5rem;
  }

  .flex-basis-1\/2 {
    flex-basis: 50%;
  }
  .flex-basis-full {
    flex-basis: 100%;
  }

  /* ref: https://stackoverflow.com/questions/5581034/is-there-are-way-to-make-a-child-divs-width-wider-than-the-parent-div-using-css */
  .w-screen-as-child {
    width: 100vw;
    position: relative;
    left: calc(-50vw + 50%);
  }
}
